---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Sodeco Interiorismo | Diseño de Interiores y Acústica">
  <Header />
   <main class="container mx-auto px-4 py-8">  
    <!-- <Hero /> -->

 
 
  </main>
</Layout>

 
