---
import siteSettings from '../../data/wp/site-settings.json';

const { logos } = siteSettings;

// Logos (Optimized Paths)
const desktopDark = logos.desktop_dark.optimized.src; // Show on Light Theme (Desktop)
const desktopLight = logos.desktop_light.optimized.src; // Show on Dark Theme (Desktop)
const mobileDark = logos.mobile_dark.optimized.src;   // Show on Light Theme (Mobile)
const mobileLight = logos.mobile_light.optimized.src; // Show on Dark Theme (Mobile)
---

<a href="/" class="flex items-center gap-2">
  
  <!-- Desktop Dark (Shows on Light Theme) -->
  <img 
    src={desktopDark} 
    width="150" 
    height="40" 
    alt="Sodeco Logo" 
    class="hidden md:block dark:hidden h-10 w-auto" 
  />

  <!-- Desktop Light (Shows on Dark Theme) -->
  <img 
    src={desktopLight} 
    width="150" 
    height="40" 
    alt="Sodeco Logo" 
    class="hidden dark:md:block h-10 w-auto" 
  />

  <!-- Mobile Dark (Shows on Light Theme) -->
  <img 
    src={mobileDark} 
    width="150" 
    height="40" 
    alt="Sodeco Logo" 
    class="block lg:hidden dark:hidden h-10 w-auto" 
  />

  <!-- Mobile Light (Shows on Dark Theme) -->
  <img 
    src={mobileLight} 
    width="150" 
    height="40" 
    alt="Sodeco Logo" 
    class="hidden dark:block dark:lg:hidden h-10 w-auto" 
  />
</a>
