---

import ThemeController from "./header/ThemeController.astro";
import UserButton from './header/UserButton.svelte';
import MobileSearchButton from './header/MobileSearchButton.svelte';
import WishlistButton from './header/WishlistButton.svelte';
import CartButton from './header/CartButton.svelte';
import DesktopSearchBar from './header/DesktopSearchBar.svelte';
import CategoryMenu from './header/CategoryMenu.svelte';
import Logo from './header/Logo.astro';

---

<header class="w-full">
  <!-- Top Section / Mobile Header -->
  <div class="container flex items-center justify-between py-6">
    <!-- Mobile Menu Toggle -->
    <div class="lg:hidden mr-3">
      <button class="btn btn-ghost btn-square hover:bg-base-200 border-0">
        <span class="icon-[iconamoon--menu-burger-horizontal-light] size-7"></span>
      </button>
    </div>

    <!-- Logo -->
    <div class="flex flex-1 justify-start  gap-10">
      <Logo />
      <!-- Desktop Search Bar -->
      <DesktopSearchBar client:idle />
    </div>

    <!-- Icons -->
    <div class="flex items-center gap-1 md:gap-2.5">
      <ThemeController />

      <MobileSearchButton client:idle />

      <UserButton client:idle />

      <WishlistButton client:idle />

      <CartButton client:idle />
    </div>
  </div>

  <!-- Bottom Section (Desktop Navigation) -->

  <div class="container md:block hidden">
    <nav class="bg-neutral text-neutral-content flex h-16 items-center rounded-lg px-4">
      <CategoryMenu client:idle />
      <ul class="flex items-center space-x-8 px-8 font-medium whitespace-nowrap">
        <li>
          <a href="#" class="hover:text-primary text-sm transition-colors">Paneles Acústicos</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary text-sm transition-colors">Mobiliario</a>
        </li>
        <li>
          <a href="#" class="text-primary text-sm transition-colors">Presupuesto</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary text-sm transition-colors">Sobre Nosotros</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary text-sm transition-colors">Contacto</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary text-sm transition-colors">Mi Cuenta</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style></style>
